#order_modal .modal-dialog {
	height: 100%;
}

#order_modal .modal-content {
	height: 90%;
}

#items_order {
	height: 320px;
    overflow-y: auto;
}

#items_order .item {
	padding: 9px 0;
}

.order-values {
	border-top: 1px solid #babebf;
    text-align: right;
}

.order-values {
	margin: 5px 0;
}