body {
	background: #f8f8f8;
}

#logout {
	position: absolute;
    right: 15px;
    top: 15px;
}

#user-name {
	float: right;
}



.link {
	list-style: none;
	color: white;
}

.menu-left-side-icon{
    position: absolute;
    right: 2px;
    margin: 8px;
}